.ProfileInput {


    font-size: 13px;
    line-height: 1.18;
}

.ProfileInput:first-of-type {
    margin-top: 123px;
}

.ProfileInput:last-of-type .ProfileInput__name {
    border: none;
}

@media screen and (max-width: 770px) {
    .ProfileInput {
        font-size: 11px;
    }

    .ProfileInput:last-of-type {
        margin-bottom: 200px;
    }
}


@media screen and (max-width: 525px) {
    .ProfileInput:first-of-type {
        margin-top: 80px;
    }
}
