.Input {
    margin-bottom: 24px;
    border-bottom: 1px solid #E8E8E8;
}

.Input:first-of-type {
    margin-top: 40px;
}

.Input:last-of-type {
    margin-bottom: 152px;
}

@media screen and (max-width: 525px) {
    .Input:last-of-type {
        margin-bottom: 70px;
    }
}
