.Input {
    margin-bottom: 24px;
}

.Input:first-of-type {
    margin-top: 40px;
}

.Input:last-of-type {
    margin-bottom: 50px;
}

@media screen and (max-width: 525px) {
    .Input:last-of-type {
        margin-bottom: 70px;
    }

    .Input:first-of-type {
        margin-top: 80px;
    }
}
