.movies-cards {
    padding: 70px 0 10px;
}

.movies-cards__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card-width));
    justify-content: space-around;
    grid-gap: 30px;
}

.movies-cards__not-found {
    font-size: 18px;
    font-weight: 500;
    padding: 15px;
    letter-spacing: 1px;
    text-align: center;
}

@media screen and (max-width: 880px) {
    .movies-cards {
        padding: 70px 0 30px;
    }

    .movies-cards__list {
        justify-content: space-around;
        grid-gap: 24px;
    }

}

@media screen and (max-width: 767px) {
    .movies-cards {
        padding: 40px 0 30px;
    }

    .movies-cards__list {
        justify-content: space-around;
        grid-gap: 14px;
    }
}
