.Movies {
    padding: 0 var(--content-side-padding);
}

@media screen and (max-width: 880px){
    .Movies {
        padding: 0 30px;
    }
}

@media screen and (max-width: 525px){
    .Movies {
        padding: 0 10px;
    }
}
