.Footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 450px) {
    .Footer__container {
        flex-direction: column-reverse;
        align-items: center;
    }
}
