.button {
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    font-size: 12px;
    line-height: 1.33;
    font-weight: 500;
    width: 100px;
    height: 29px;
}

button:hover {
    cursor: pointer;
    opacity: .5;
}
