.Profile {
    padding: 74px var(--content-side-padding) 70px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: calc(100vh - 78px);
}

@media screen and (max-width: 770px) {
    .Profile {
        align-items: center;
    }
}

@media screen and (max-width: 420px) {
    .Profile {
        padding: 70px 30px 40px;
    }
}
