.ProfileInput__name {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    border-bottom: 1px solid #E8E8E8;
    padding: 0 0 16px;
    margin: 0 0 17px;
    text-wrap: none;
}

.ProfileInput__name:focus-within {
    border-bottom: 1px solid #3456F3 !important;
}
