.ToogleSwitch__text {
    margin: 0;
    font-size: 14px;
    line-height: 1.29;
}

@media screen and (max-width: 450px) {
    .ToogleSwitch__text {
        font-size: 11px;
        line-height: 1.64;
    }
}
