.Promo {
    padding: 75px var(--content-side-padding);
    background-color: #073042;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

@media screen and (max-width: 860px) {
    .Promo {
        flex-direction: column;
        padding-top: 140px;
    }
}

@media screen and (max-width: 525px) {
    .Promo {
        flex-direction: column;
        padding: 70px var(--content-side-padding) 30px;
    }
}
