.AboutMe__bio {
    max-width: 600px;
}

@media screen and (max-width: 1000px) {
    .AboutMe__bio {
        max-width: 364px;
    }
}

@media screen and (max-width: 700px) {
    .AboutMe__bio {
        max-width: 100%;
    }
}
