.Techs__info-title {
    text-align: center;
    font-size: 50px;
    line-height: 1.16;
    font-weight: 400;
    margin: 0 0 26px;
}

@media screen and (max-width: 860px) {
    .Techs__info-title {
        margin: 0 0 22px;
    }
}

@media screen and (max-width: 525px) {
    .Techs__info-title {
        font-size: 30px;
        line-height: 1.2;
        margin: 0 0 24px;
    }
}
