.AboutProject__info {
    margin: 0 30px 0 0;
}

.AboutProject__info:last-of-type {
    margin: 0;
}

@media screen and (max-width: 525px) {
    .AboutProject__info {
        margin: 0 0 56px;
    }
}
