.AboutMe__project-name {
    margin: 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.67;
}

@media screen and (max-width: 860px) {
    .AboutMe__project-name {
        font-size: 28px;
        line-height: 1.79;
        letter-spacing: -0.04em;
    }
}

@media screen and (max-width: 525px) {
    .AboutMe__project-name {
        font-size: 18px;
        line-height: 1.56;
    }
}
