.NotFound__link {
    color: #3456F3;
    font-size: 14px;
    line-height: 1.21;
    text-decoration: none;
}

@media screen and (max-width: 425px) {
    .NotFound__link {
        margin: auto 0 0;
    }
}
