.SearchForm__input {
    border: none;
    text-align: center;
    padding: 3px;
    margin: 0 10px;
    width: 70%;
    outline: none;
    font-weight: 500;
    font-size: 28px;
}

.SearchForm__input::placeholder {
    color: #A0A0A0;
}

@media screen and (max-width: 525px) {
    .SearchForm__input {
        text-align: start;
        margin: 0;
        font-size: 18px;
    }
}
