.AboutProject__info-container {
    display: flex;
    margin: 0 0 110px;
}

@media screen and (max-width: 860px) {
    .AboutProject__info-container {
        margin: 0 0 93px;
    }
}

@media screen and (max-width: 525px) {
    .AboutProject__info-container {
        display: block;
        margin: 0 0 60px;
    }
}
