.MoviesCardList__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, 360px);
    justify-content: space-around;
    grid-gap: 30px;
}

@media screen and (max-width: 880px) {
    .MoviesCardList__list {
        grid-template-columns: repeat(auto-fill, 340px);
        justify-content: space-around;
        grid-gap: 24px;
    }
}

@media screen and (max-width: 767px) {
    .MoviesCardList__list {
        grid-template-columns: repeat(auto-fill, 300px);
        justify-content: space-around;
        grid-gap: 14px;
    }
}
