.Navigation__link_type_login {
    display: inline-block;
    border-radius: 3px;
    padding: 8px 20px;
    background-color: #2BE080;
    font-size: 12px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}
