.form {
    display: flex;
    flex-direction: column;
    width: 396px;
    margin: auto;
    height: 90vh;
    max-height: 650px;
}

.title {
    margin: 40px 0;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 500;
}

.submit {
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    font-size: 14px;
    line-height: 1.33;
    font-weight: 500;
    height: 45px;
    background-color: #3456F3;
    color: white;
    margin: auto 0 0;
}

.submit:hover {
    cursor: pointer;
}

.submit:disabled {
    background-color: #E8E8E8;
    cursor: not-allowed;
}

@media screen and (max-width: 525px) {
    .form {
        width: 300px;
    }
}
