.AboutProject__bar-subtitle {
    text-align: center;
    margin: 14px 0 0;
    font-size: 14px;
    line-height: 1.2;
    color: #A0A0A0;
}

@media screen and (max-width: 525px) {
    .AboutProject__bar-subtitle {
        font-size: 11px;
        margin: 10px 0 0;
    }
}
