.Promo__subtitle {
    max-width: 310px;
    font-size: 13px;
    line-height: 1.23;
    opacity: .5;
    margin: 0 0 146px;
}

@media screen and (max-width: 860px) {
    .Promo__subtitle {
        max-width: 260px;
        margin: 0 0 92px;
        text-align: center;
    }
}

@media screen and (max-width: 525px) {
    .Promo__subtitle {
        margin: 0 0 80px;
    }
}
