.Techs__list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 60px;
    border-radius: 10px;
    background-color: #E8E8E8;
    font-size: 14px;
    line-height: 1.21;
}

.Techs__list-item:last-of-type {
    margin: 0;
}

@media screen and (max-width: 860px) {
    .Techs__list-item {
        width: 84px;
        height: 57px;
    }
}

@media screen and (max-width: 750px) {
    .Techs__list-item {
        margin: 0;
    }
}
