.button_theme_main {
    background-color: #2be080;
    margin: 0;
}

@media screen and (max-width: 860px) {
    .button_theme_main {
        font-size: 10px;
        line-height: 1.6;
        padding: 5px 12px;
    }
}
