.button_theme_search {
    border-radius: 48px;
    background-color: #3456F3;
    background-image: url(./../../../images/searchform/icon-btn.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;
    height: 34px;
}
