.button_theme_delete {
    border-radius: 30px;
    width: 100px;
    height: 29px;
    background-image: url('../../../images/popup/close.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
    background-color: #F9F9F9;
}
