.Footer {
    padding: 79px var(--content-side-padding) 20px;
    font-size: 13px;
    line-height: 1.23;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

@media screen and (max-width: 880px) {
    .Footer {
        padding: 79px 30px 20px;
    }
}

@media screen and (max-width: 450px) {
    .Footer {
        font-size: 12px;
        line-height: 1.25;
        padding: 79px 10px 10px;
    }
}
